###############################
### To be changed every run ###
###############################
wd= PROJECT DIR
pool_id=
custom_gtf="none"
custom_annotation="none"
fastq_file="none"
#######################
### Reference files ###
#######################
scriptdir= SCRIPT DIR
reference_gtf="../GENOMES/Homo_sapiens.GRCh38/102/annotation/Homo_sapiens.GRCh38.102.gtf"
reference_genome="../GENOMES/Homo_sapiens.GRCh38/102/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
reference_annotation="../GENOMES/Homo_sapiens.GRCh38/102/annotation/Homo_sapiens.GRCh38.102.gtf_Rannot"
star_index_basedir="../GENOMES/Homo_sapiens.GRCh38/102/STAR/2.7.8a"
bowtie2_index="../GENOMES/Homo_sapiens.GRCh38/102/bowtie2/2.4.2/riboseq_contaminants"
data_folder= RAW DATA FOLDER
resource_dir="../GENOMES/Homo_sapiens.GRCh38/102"
#######################
### Module versions ###
#######################
cutadapt_version=3.4
fastqc_version=0.11.9
trimgalore_version=0.6.6
bowtie2_version=2.4.2
star_version=2.7.8a
samtools_version=1.12
r_version=4.0.3
pandoc_dir="../software/pandoc/bin"
###########################
### Resource allocation ###
###########################
low_mem=8G
medium_mem=64G
high_mem=192G
low_cpu=1
medium_cpu=8
high_cpu=24